body {
    margin: 0;
    padding: 0;
    background: url('https://w0.peakpx.com/wallpaper/338/812/HD-wallpaper-gambling-table-casino-dice-chips-bokeh-playing-cards-casino-concepts.jpg') no-repeat fixed;
    background-size: cover;
    height: 100vh;
    font-family: "Exo 2";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#new-deck {
    width: 250px;
    height: 40px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: yellow;
    border: none;
    border-radius: 20px;;
    cursor: pointer;
    font-size: 1.2em;
}

#draw-cards {
    width: 100%;
    height: 50px;
    background-color: yellow;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
}

.card-slot {
    border: 1px solid black;
    border-radius: 5px;
    height: 300px;
    width: calc(300px * 5 / 7)
}


.card-slot:nth-of-type(1) {
    margin-bottom: 50px;
}